.filters {
  width: 100%;
  height: auto;
  margin-bottom: 30px;

  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.filters__row {
  display: flex;
  align-items: center;

  &-media-768,
  &-media-768.clear {
    display: none;
  }

  @media (max-width: 768px) {
    display: none;

    &-media-768,
    &-media-768.clear {
      display: flex;
      width: 100%;
      height: auto;
      margin: 0;
    }
  }
}

.filters__col {
  display: flex;
  align-items: center;
  max-height: 32px;

  &.clear {
    justify-content: flex-end;
  }

  @media (max-width: 768px) {
    height: auto;
    margin-bottom: 20px;

    &.clear {
      margin-bottom: 0;
    }
  }

  @media (max-width: 525px) {
    flex-wrap: wrap;

    &.clear {
      justify-content: flex-start;
      margin-top: 50px;
    }
  }
}

.filters__form {
  display: flex;
  align-items: center;
  height: 32px;

  &-item {
    margin: 0;
  }

  & .ant-form-item-explain {
    position: absolute;
    bottom: -25px;
    left: 0;
  }

  @media (max-width: 525px) {
    margin-bottom: 20px;
  }
}

.filters__search-name {
  width: 500px;

  @media (max-width: 980px) {
    width: 250px;
  }

  @media (max-width: 600px) {
    width: 200px;
  }

  @media (max-width: 420px) {
    margin-right: 30px;
  }
}

.filters__select-gender {
  width: 200px;
  margin-left: 20px;

  @media (max-width: 980px) {
    width: 100px;
  }

  @media (max-width: 525px) {
    margin-bottom: 20px;
  }

  @media (max-width: 420px) {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.filters__search-nationality {
  width: 300px;
  margin-left: 20px;

  @media (max-width: 980px) {
    width: 150px;
  }

  @media (max-width: 525px) {
    margin-left: 0;
  }

  @media (max-width: 420px) {
    margin-left: 20px;
  }
}

.filters__clear {
  display: flex;
  align-items: center;

  color: grey;

  transition: color 0.3s linear;

  &-icon {
    display: flex;
    align-items: center;
    margin-right: 1px;
  }

  &:hover {
    color: black;

    cursor: pointer;
  }
}
